<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>PilchardSystem3</title>
</head>
<style>
    h1{
        color:rgb(211, 242, 241)
    }
    .botn{
         border-radius: 8px;
         margin-bottom:20px;
         padding:5px;
         font-size:17px;
         display: inline;
    }
</style>
<body>
    <h1>PilchardSystem</h1>
    <form method="get" action="/reset" style="display:inline;">
        <button type="submit" class = "botn" >초기화</button>
    </form>
    <form method="get" action="/info" style="display:inline;">
        <button type="submit" class = "botn" >도움말</button>
    </form>
    <form method="get" action="/start" style="display:inline;">
        <button type="submit" class = "botn">시작 단어</button>
    </form>
    <div class="messages" id="chat">
        {% for up in messages %}
            {% if loop.index0 % 2 == 0 %}
                <p class="blue-box">{{ up }}</p>
            {% else %}
                <p class="red-box">{{ up }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <form method="post" class="inputarea" autocomplete="off">
        <input type="text" name="text" class="chat-input">
        <button type="submit" class="send">입력</button>
    </form>   
    <script>
        const chat = document.getElementById("chat");
        chat.scrollTop = chat.scrollHeight;
    </script>
</body>
</html>

